*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(215, 51%, 70%);
  --clr-primary-light: hsl(178, 100%, 50%);
  --clr-primary-tranparent-light: hsl(178, 100%, 50%, 0.57);

  --clr-neutral-light: hsl(0, 0%, 100%);
  --clr-neutral: hsl(215, 32%, 27%);
  --clr-neutral-dark: hsl(216, 50%, 16%);
  --clr-neutral-darkest: hsl(217, 54%, 11%);
}


body {
	font-family: 'Outfit', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: var(--clr-neutral-darkest);
  color: var(--clr-neutral-light);
}

p { font-size: 1.2rem; margin: 0.7rem 0; }

#card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--clr-neutral-dark);
  flex-basis: 80%;
  min-width: 250px;
  max-width: 340px;
  padding: 1.8rem;
  border-radius: 3%;
}

.card h1 {
  font-size: 1.4rem;
  margin: 0.8em  0;
  font-weight: 600;
}

.card-img {
  border-radius: 3%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.card-img img { width: 100%; }

.card-img .hover-ico {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--clr-primary-tranparent-light);
}

.card-img .hover-ico img{
  flex-basis: 20%;
  opacity: 1;
}

.card-img .hover-ico:hover { opacity: 1; }

.card p {
  color: var(--clr-primary);
  font-weight: 300;
  line-height: 1.4;
}

.card p.clr-pri-light { color: var(--clr-primary-light); }

.card .info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card .info img { max-width: 19px; }

.card .info p {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.card address {
  display: flex;
  align-items: center;
  border-top: 2px solid var(--clr-neutral);
  padding-top: 1em;
  font-style: normal;
  margin-top: 0.7rem;
}

.card address img {
  max-width: 2.5em;
  border-radius: 50%;
  border: 1px solid var(--clr-neutral-light);
}

.card address p {
  margin-left: 0.8em;
}

.card address a {
  text-decoration: none;
  color: var(--clr-neutral-light);
}

.card address a:hover { color: var(--clr-primary-light); }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--clr-primary); text-decoration: none;}